<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cartoonize io</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7fa6d5fe14.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <nav>
     <img src="/Nifemi_logo_with_the_letters_C_A_I_c590da2e-4ea1-4404-930a-6bb6c9b122e8_2-removebg-preview (1).png" alt="" class="logo">
              <a href="https://github.com/Michvista"><i class="fa-brands fa-github"></i></a>  
  </nav>
  <div class="main-content">
      <h1>Car<span>toon</span>ize io</h1>
      <h5>Create The Toonish Version Of Yourself</h5>
    <a href="/upload">  <button>Upload A Photo</button> </a>
  </div>
      <div class="example">
        <h2>Here's an Example</h2>
        <div class="images">
     <div class="first">
          <img src="/messi.jpeg" alt="" class="original">
          <h5 class="desc">Original Photo</h5>
     </div>
         <div class="first">
            <img src="/messi-toon.png" alt="" class="toon">
            <h5 class="desc">Tooned Photo</h5>
          </div>
          </div>
          <footer>
<p>             ©2023 Cartoonize.io
</p>
          </footer>
      </div>
</div>
</body>

</html>
