<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Upload</title>
  <link rel="stylesheet" href="/upload.css">
  <link rel="shortcut icon" href="/Nifemi_logo_with_the_letters_C_A_I_c590da2e-4ea1-4404-930a-6bb6c9b122e8_2-removebg-preview (1).png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fa6d5fe14.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="button">
  <h1>Toon yourself</h1>
  <form action="/api/upload" method="POST" enctype="multipart/form-data">
  <div class="file">
      <label  for="file" class="upload">
        Upload an Image
        <input type="file" class="files" id="myNameFile" name="myFile"  accept=".png, .jpg, .jpeg">
      </label>
      <button type="submit" class="submit">Submit</button>
      <!-- <p>  </p> -->
    </div>
</div>
</form> 
<div class="img-cont">
    <div class="first-image">
      <img src="<%= url %>" alt="">
    </div>
    <div class="image-container">
      <div class="second-image">
        <div class="first">
          <div class="second"></div>
        </div>
        <div class="third"></div>
      </div>
    </div>
</div>
                    <footer>
            <p>©2023 Cartoonize.io</p>
            <a href="https://github.com/Michvista"><i class="fa-brands fa-github"></i></a>  
                    </footer>
</body>
<script>
document.documentElement.style.setProperty('--bg', 'url(<%= url %>)')
const overlay = document.querySelector(".upload");
const get = document.querySelector('form')
const input = document.getElementById("myNameFile");
overlay.addEventListener('click', () => {
  input.click();
})
</script>
</html>
